# Practice
## Lists:
Question - Appending and Removing Elements: Create an empty list called my_list. Append
the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [38]:
my_list = []

my_list.append(1)
my_list.append(2)
my_list.append(3)

print(my_list)

[1, 2, 3]

Question- Accessing Elements: Create a list called fruits containing the strings "apple",
"banana", "cherry", "date". Print the second element of the list.

In [40]:
fruits = ["apple", "banana", "cherry", "date"]
print(fruits[1])

banana

Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
slice of the list containing elements from the third element to the sixth element.

In [42]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[3:6])

[4, 5, 6]

## Sets
Question - Adding and Removing Elements: Create an empty set called my_set. Add the
numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [44]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)

my_set.remove(2)
print(my_set)

{1, 3}

Question - Operations: Create two sets called set1 and set2, each containing a few
numbers. Print the union, intersection, and difference of the two sets.

In [46]:
set1 = {1, 2, 3, 42, 6}
set2 = {4, 6, 3, 35}

print("Union:")
print(set1 | set2)

print("Intersection:")
print(set1 & set2)

print("Difference (set1 - set2):")
print(set1 - set2)

Union:
{1, 2, 3, 35, 4, 6, 42}
Intersection:
{3, 6}
Difference (set1 - set2):
{1, 2, 42}

## Tuples
Question - Accessing Elements: Create a tuple called coordinates containing the latitude
and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude
and longitude separately.

In [48]:
coordinates = (40.7128, -74.0060)

print(coordinates[0])
print(coordinates[1])

40.7128
-74.006

Question - Packing and Unpacking: Create a tuple called person containing information
about a person, such as their name, age, and city. Then unpack the tuple into individual
variables.

In [50]:
person = ("Benni", 23, "Sydney")

name, age, city = person
print("Name: ", name, "Age: ", age, "City: ", city)

Name:  Benni Age:  23 City:  Sydney